*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* Primary Buttton */
.btn-primary{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
    padding: 11px 6px;
    border: 1px solid hsl(25, 98%, 52%);
    border-radius: 3px;
    background: hsl(25, 98%, 52%);
}

/* secondary btn */
.btn-secondary{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
    padding: 15px 27px;
    border: 1px solid #F15B22;
    background: white;
    border-radius: 5px;
}


 main{
    /* max-width: 1297px; */
    /* border: 2px solid red; */
    /* margin-left: 99px;
    height: 100vh; */
    /* margin-right: 57px; */
    margin: 10%;
}

#banner{
    background: url("../images/banner/banner1.png") no-repeat center center / cover;
    width: 98.95vw;
    height: 95vh; 
    position: relative;  
}
.banner-main-content{
    position: relative;
    padding-top: 160px;
}
.banner-content{
    position: relative;
    max-width: 500px;
    min-height: 400px;
    /* border: 2px solid red; */
    margin-left: 990px;
    padding-top: 100px;
    /* margin-top: 100px; */
    
}
.banner-tittle{
    position: absolute;
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: end;
}
#banner .banner-sub-tittle{
    font-style: normal;
    font-weight: 900;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}
#banner .banner-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
    /* padding-top: 5px; */
    margin-top: 10px;
}

.btn-banner{
    margin-top: 10px;
}


.failures{
    display: flex;
    gap: 20px;
}
.failures-content-box{
    max-width: 400px;
    margin-left: 135px;
    /* border: 1px solid red; */
}
/* .failures .img-border{
    background: #edabab;
    background-blend-mode: ;
} */
.failures-content{
    margin-top: 170px;
    margin-left: 20px;
}

.failures-content-box ul li{
    list-style: none;
}
.failures-content-box ul li i{
    padding: 8px;
    color: green;
}

.failures-content-box .failures-tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 17px;
}
.failures-content-box .failures-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

.failures-content-box ul li{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* My Plans */
.my-plans{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-top: 110px;
}

.plan-content{
    display: flex;
    justify-content: space-around;
    margin-top: 78px;
}

.plan-content .plan-image{
    text-align: center;
    margin-bottom: 15.5px;
}
.plan-content .plan-tittle{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-bottom: 14px;
}
.plan-content .plan-sub-tittle{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}
.contact-section{
   margin: auto;
   margin-top: 120px;
   width: 1150px;
   height: 340px;
   border-radius: 15px;
   padding: 40px;
   background: linear-gradient(to right,rgba(255, 166, 0, 0.793),rgba(174, 160, 159, 0.079)),url("../images/watch.png") no-repeat center center/cover;
}

.contact-section .contact-section-tittle{
    /* position: absolute; */
    /* top: 70px; */
    margin-left: 55px;
    max-width: 500px;
}
.contact-section .contact-tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.btn-contact{
    margin-top: 12px;
}

footer{

    background: black;
}
.main-footer{
    display: flex;
    /* justify-content: space-around; */
  
    
}
.future{
    max-width: 500px;
    margin-left: 300px;
} 

.subscribe-container{
    width: 450px;
    height: 500px;
    margin-left: 300px;
    /* text-align: center; */
    /* margin-right: 500px; */
}

.main-footer .future-tittle{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;
    margin-top: 130px;
    
}


.main-footer .future-description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 30px;
}

.conatct-mail, .contact-phn{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 15px;
}

.social-media ul li{
    list-style: none;
}
.social-media ul{
    display: flex;
    gap: 22px;
    margin-top: 30px;
    margin-bottom: 100px;
}

.subscribe .subscribe{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 130px;
}
.subscribe input{
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin-top: 30px;
    padding: 25px;
    border: 3px solid gray;
    border-radius: 5px

}

.btn-subscribe{
    margin-top: 30px;
}